[user]
	name = waydegilliam
    email = waydegilliam@gmail.com

[init]
    defaultBranch = master

[alias]
    root = rev-parse --show-toplevel

[core]
    pager = delta

[delta]
    side-by-side = true
    syntax-theme = GitHub
    navigate = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
